#top-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

    .top-right-slider-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc((100% - 1024px)/2);
    }

    .top-right-slider{
        margin: 0px 20px;
    }
        

    #x-position-controls-box{
        border: 1px solid black;
        width: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
        #x-position-val-paragraph{
            display: flex;
            justify-content: center;
            width: 1024px;
            margin: 0px;
        }

        #x-slider-box{
            display: flex;
            width: 100%;
        }

            #x-slider{
                width: 100%;
            }


#canvas-and-side-controls{
    display: flex;
    border: 1px solid black;
}

    #drone-canvas{
      border: 1px solid black;
      display: inline-block;
    }

    #y-slider-box{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100px;
    }

    #y-slider{
        height: 1024px;
        -webkit-appearance: slider-vertical;
    }

    #y-min, #y-max{
        text-align: center;
    }

    #y-position-val-paragraph{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
